.form {
  margin: 0 70px;
  padding: 100px 20px;
  background-color: #d9b256;
  position: relative;
}
.form__image {
  width: 450px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 20px;
  background-image: url(/images/background-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.form__wrapper {
  display: -webkit-box;
  display: flex;
}
.form__form {
  width: 50%;
  padding-right: 100px;
}
.form__contact {
  position: relative;
  width: 50%;
  border-left: 1px solid #242424;
  margin: 50px 0;
  padding: 0 60px;
}
.form__contact__element {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}
.form__contact h3 {
  color: #242424;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form__contact p {
  color: #242424;
}
.form__contact ul {
  list-style: none;
}
.form__contact img {
  width: 30px;
  margin-right: 40px;
}
.form .input,
.form .textarea {
  width: 100%;
  background-color: transparent;
  margin: 20px 0;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #242424;
  font-size: 21px;
  color: #242424;
}
.form .input::-webkit-input-placeholder,
.form .textarea::-webkit-input-placeholder {
  color: #242424;
}
.form .input::-moz-placeholder,
.form .textarea::-moz-placeholder {
  color: #242424;
}
.form .input:-ms-input-placeholder,
.form .textarea:-ms-input-placeholder {
  color: #242424;
}
.form .input::-ms-input-placeholder,
.form .textarea::-ms-input-placeholder {
  color: #242424;
}
.form .input::placeholder,
.form .textarea::placeholder {
  color: #242424;
}
.button {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 13px;
  padding: 10px 20px;
}
.button--black {
  color: #d9b256;
  text-transform: uppercase;
  border: 2px solid #242424;
}
.button--black,
.footer {
  background-color: #242424;
}
