.hero {
  margin: 70px;
  background-image: url(/images/hero.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.hero__text {
  position: absolute;
  background-color: #d9b256;
  height: 440px;
  width: 440px;
  top: 0;
  right: 0;
  text-align: right;
  padding: 16px;
}
.hero__text h1 {
  margin-bottom: 16px;
}
.hero__text a {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 2px solid #ecd9ab;
}
.section {
  display: -webkit-box;
  display: flex;
  margin: 100px 70px 0;
  padding-bottom: 100px;
}
.section h2 {
  margin: 0;
  line-height: 0.5;
}
.section h5 {
  margin: 0 0 5px;
}
.section h6 {
  margin: 16px 0;
}
.bar {
  position: relative;
  display: inline-block;
}
.bar__right:after {
  content: "";
  width: 40px;
  height: 2.5px;
  right: -60px;
  bottom: 5px;
  background-color: #d9b256;
  position: absolute;
}
.bar__right--black:after {
  background-color: #242424;
}
.bar__middle__right:before {
  left: -110px;
}
.bar__middle__left:after,
.bar__middle__right:before {
  content: "";
  width: 100px;
  height: 2.5px;
  bottom: 16px;
  background-color: #d9b256;
  position: absolute;
}
.bar__middle__left:after {
  right: -110px;
}
.about__text {
  width: 60%;
  padding: 20px;
}
.about a {
  color: #d9b256;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}
.square {
  position: relative;
}
.square__right:before {
  content: "";
  position: absolute;
  width: 382px;
  height: 481px;
  bottom: 30px;
  left: 30px;
  z-index: -1;
  background-color: #d9b256;
}
.specilization {
  background-color: #4d4f5b;
  position: relative;
  margin: 0 70px;
  padding: 100px 60px 60px 180px;
}
.specilization h6 {
  margin: 10px 0;
}
.specilization__image {
  width: 320px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(/images/specilization.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.specilization__skills {
  display: -webkit-box;
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
.specilization__skills__single {
  width: 250px;
  text-align: center;
}
.specilization__skills__single svg {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
}
.specilization__skills__single svg path,
.specilization__skills__single svg polygon,
.specilization__skills__single svg rect {
  fill: #d9b256;
}
.specilization__skills .middle {
  border-right-style: solid;
  border-left-style: solid;
  border-color: #777;
}
.specilization a {
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;
}
.specilization a:hover {
  text-decoration: underline;
}
.specilization h3,
.specilization h6,
.specilization p {
  color: #fff;
  position: relative;
  z-index: 1;
}
.regular {
  display: block;
  margin: 0 70px;
}
.regular__section {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin: 30px 0;
}
.regular__image {
  width: 60%;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  overflow: hidden;
  height: 400px;
}
.regular__image:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.regular__image:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.regular__image img {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: relative;
  z-index: -1;
  width: 100%;
}
.regular__text {
  width: 40%;
  padding: 40px;
  position: relative;
  z-index: 2;
}
.regular__text__wrapper {
  background-color: #fff;
  padding: 40px 40px 120px;
  margin: 20px 0 0 -50px;
}
.regular__text__wrapper--reversed {
  margin: 20px -50px 0 0;
  text-align: right;
}
.regular .regular__text h3 {
  font-size: 32px;
  cursor: pointer;
}
.regular .regular__text h3:hover {
  text-decoration: underline;
  color: #d9b256;
}
.regular a {
  color: #d9b256;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}
.regular a:hover {
  text-decoration: underline;
}
.reference {
  position: relative;
  min-height: 300px;
  margin: 0 70px;
  padding: 30px;
  text-align: center;
  background-image: url(/images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.reference:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.reference__content {
  position: relative;
  z-index: 1;
}
.reference__content__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 600px;
  margin: 40px auto;
  -webkit-box-align: center;
  align-items: center;
}
.reference__content__nav img {
  border-radius: 50%;
}
.reference__content__nav .arrow {
  height: 55px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 15px 20px;
  cursor: pointer;
}
.reference__content p {
  color: #fff;
}
.reference__content h2 {
  text-transform: uppercase;
  color: #d9b256;
  font-size: 13px;
}
.clients {
  margin: 50px 70px;
}
.clients__section {
  margin: 30x 0;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.clients__section img {
  width: 210px;
  opacity: 0.6;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.clients__section img:hover {
  opacity: 1;
}
